# Credenciais do Superusuário / Admin do PocketBase
PB_SUPERUSER_EMAIL=admin@admin.com
PB_SUPERUSER_PASSWORD=admin123456

# Mercado Pago - Access Token Secreto (Backend / PocketBase)
MERCADO_PAGO_ACCESS_TOKEN=APP_USR_EXEMPLO
